.org-menu-slideout {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1050;
  width: 33%;
  height: 100%;
  overflow: scroll;
  outline: 0;

  .close {
    color: $black !important;

    &:hover,
    &:focus {
      color: $black;
    }
  }

}
