// Styles for the Counter Labeled molecule.

.mol-counter-labeled {
  span {
    font-size: 2.5rem;
    font-weight: $headings-font-weight;
    line-height: 3rem;
  }

  small {
    font-weight: $font-weight-base;
    font-size: 1rem;
  }
}
